h1 {
  margin: 20px;
  margin-bottom: 30px;
  font-weight: 700;


}
.space-item {
  margin: 20px;

}
.boss{
  text-align: left;
}
input{
  width: 100%;
  padding: 10px;
}

.buttonStyle{
  text-align: left;
}